table {
  border-collapse: collapse;

  width: 80%;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;

  line-height: 40px;
}

th {
  border-bottom: 2px double var(--primary-color);
  font-size: 18px;
  color: var(--font-color-black);
}

tbody {
  line-height: 60px;
}

td {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 1px solid var(--lightgray-color);
  font-size: 16px;
  color: var(--font-color-gray);
}

input {
  padding-left: 10px;
  font-size: 16px;
  line-height: 25px;
  color: var(--font-color-gray);
}

td.task {
  text-align: left;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 100px;
}

.task {
  width: 70%;
}

.status {
  width: 10%;
}

.edit {
  width: 10%;
}

img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

img.checkbox {
  width: 25px;
  height: 25px;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
}
